div.obs {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
}

div.stp {
	border-style: solid;
	border-width: 1px;
	border-color: #eee;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
}

div.round {
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
}

table td.linenumber {
	background-color: #eee;
}