PI_ID           {{ project.observer.id }}
PI_NAME         {{ project.observer.name }}

PROJECT_ID      {{ project.id }}
PROJECT_TITLE   {{ project.name }}
PROJECT_REMPI   {{ project.comments|default('None provided', boolean=True)|truncate(4090, killwords=True) }}
PROJECT_REMPO   None

{% set session = project.sessions|first -%}
SESSION_ID      {{ session.id }}
SESSION_TITLE   {{ session.name|default('None provided', boolean=True) }}
SESSION_REMPI   {{ session.comments|default('None provided', boolean=True)|truncate(4090, killwords=True) }}
SESSION_REMPO   None

{% for obs in session.observations -%}
OBS_ID          {{ loop.index }}
OBS_TITLE       {{ obs.name|default('None provided', boolean=True) }}
OBS_TARGET      {{ obs.target|default('None provided', boolean=True) }}
OBS_REMPI       {{ obs.comments|default('None provided', boolean=True)|truncate(4090, killwords=True) }}
OBS_REMPO       Estimated data volume for {{ nStands }} stands is {{ obs.dataVolume|filesizeformat }}
OBS_START_MJD   {{ obs.mjd }}
OBS_START_MPM   {{ obs.mpm }}
OBS_START       {{ obs.start~'\n' }}
{%- include "session_def.tbw" %}
{%- include "session_def.tbn" %}
{%- include "session_def.drx_radec" %}
{%- include "session_def.drx_sol" %}
{%- include "session_def.drx_jov" %}
{%- include "session_def.stepped" %}

{% endfor %}

{%- set obs = session.observations|first -%}
{%- if obs.mode == 'TBW' -%}
OBS_TBW_BITS    {{ obs.bits }}
OBS_TBW_SAMPLES {{ obs.samples }}

{% endif %}
