<head>
	<title>LWA Session Definition File</title>

	<link rel="stylesheet" href="schedule.css" type="text/css" />

	<script language="javascript">

	var numObs = {{ observations|length }};

	function addTBN() {
		numObs = numObs + 1;
		
		currSet = '';
		currSet += 'Observation ID: '+numObs.toString()+'<br />';
		currSet += 'Title: <input type="text" name="obsName'+numObs.toString()+'" /><br />';
		currSet += 'Target: <input type="text" name="obsTarget'+numObs.toString()+'" value="All-Sky" /><br />';
		currSet += 'Start (UTC YYYY MM DD HH:MM:SS.SSS): <input type="text" name="obsStart'+numObs.toString()+'" /><br />';
		currSet += 'Duration (HH:MM:SS.SSS): <input type="text" name="obsDuration'+numObs.toString()+'" /><br />';
		currSet += 'Tuning Frequency (MHz): <input type="text" name="obsFrequency'+numObs.toString()+'" /><br />';
		currSet += 'Filter: <select name="obsFilter'+numObs.toString()+'">';
		currSet += '     <option value="1">1 kHz</option>';
		currSet += '     <option value="2">3.125 kHz</option>';
		currSet += '     <option value="3">6.25 kHz</option>';
		currSet += '     <option value="4">12.5 kHz</option>';
		currSet += '     <option value="5">25 kHz</option>';
		currSet += '     <option value="6">50 kHz</option>';
		currSet += '     <option value="7" selected="selected">100 kHz</option>';
		currSet += '</select>';
		currSet += 'Comments:<br /><textarea rows="5" cols="75" name="obsComments'+numObs.toString()+'"></textarea><br />';

		newEntry = document.createElement('div');
		newEntry.setAttribute('id', 'obs'+numObs.toString());
		newEntry.setAttribute('class', 'obs');
		newEntry.innerHTML = currSet;

		document.getElementById('observations').appendChild(newEntry)
	}

	function validateTBN(form) {
		fields = form.elements;
		for(i=0; i<fields.length; i++) {
			if( fields[i].name.search('Comment') == -1 && fields[i].type == 'text') {
				if( fields[i].value.length == 0 ) {
					fields[i].style.backgroundColor = '#ffc4de';
				} else {
					fields[i].style.backgroundColor = 'white';
				}
			}

			if( fields[i].name.search('Frequency') != -1 ) {
				if( fields[i].value < 9.9999999776483 || fields[i].value > 87.999999976717 ) {
					fields[i].style.backgroundColor = '#ffc4de';
				} else {
					fields[i].style.backgroundColor = 'white';
				}
			}
		}
	}

	</script>
</head>

<body {{ 'onload="addTBW();"' if observations|length == 0 }}>
<a id="logo" href="http://lwa.unm.edu/"><img src="/lwa/logo.png" alt="The Long Wavelength Array Software Page" /></a>
<h2>LWA Session Definition File</h2>

<form action="session-definition.py" method="POST">
	<h3>Project Information</h3>
	<p>
		Observer ID: {{ projectInfo['observerID'] }}<br />
		Proposal ID: {{ projectInfo['projectID'] }}<br />
	</p>

	<h3>Session Information</h3>
	<p>
		{% set dmeth = sessionInfo.dataReturnMethod|default("DRSU", boolean=True) -%}
		Session Title: <input type="text" name="sessionName" size="65" value="{{ sessionInfo.sessionName }}" /><br />
		Session ID: <input type="text" name="sessionID" value="{{ sessionInfo.sessionID|default("1", boolean=True) }}" /><br />
		Data Return: <input type="radio" name="dataReturnMethod" value="DRSU" {{ 'checked' if dmeth == 'DRSU' }} />DRSU <input type="radio" name="dataReturnMethod" value="USBHD" {{ 'checked' if dmeth == 'USBHD' }} />USB Harddrives (max. 4)<br />
		Comments:<br />
		<textarea rows="10" cols="75" name="sessionComments">{{ sessionInfo.sessionComments }}</textarea><br />
	</p>

	<h3>TBN Observations</h3>
	<a id="addTBNObservation" href="#" onClick="addTBN();">Add TBN Observation</a>
	<div id="observations">
	{% for obs in observations %}
		<div class="obs" id="obs{{ loop.index }}">
			Observation ID: {{ loop.index }}<br />
			Title: <input type="text" name="obsName{{ loop.index }}" value="{{ obs.name }}" /><br />
			Target: <input type="text" name="obsTarget{{ loop.index }}" value="{{ obs.target }}" /><br />
			Start (UTC YYYY MM DD HH:MM:SS.SSS): <input type="text" name="obsStart{{ loop.index }}" value="{{ obs.start }}" /><br />
			Duration (HH:MM:SS.SSS): <input type="text" name="obsDuration{{ loop.index }}" value="{{ obs.duration }}" /><br />
			Tuning Frequency (MHz): <input type="text" name="obsFrequency{{ loop.index }}" value="{{ obs.frequency / 1000000 }}" /><br />
			Filter: <select name="obsFilter{{ loop.index }}">
				<option value="1" {{ 'selected="selected"' if obs.filter == 1 }}>1 kHz</option>
				<option value="2" {{ 'selected="selected"' if obs.filter == 2 }}>3.125 kHz</option>
				<option value="3" {{ 'selected="selected"' if obs.filter == 3 }}>6.25 kHz</option>
				<option value="4" {{ 'selected="selected"' if obs.filter == 4 }}>12.5 kHz</option>
				<option value="5" {{ 'selected="selected"' if obs.filter == 5 }}>25 kHz</option>
				<option value="6" {{ 'selected="selected"' if obs.filter == 6 }}>50 kHz</option>
				<option value="7" {{ 'selected="selected"' if obs.filter == 7 }}>100 kHz</option>
			</select>
			Comments:<br />
			<textarea rows="5" cols="75" name="obsComments{{ loop.index }}">{{ obs.comments }}</textarea><br />
		</div>
	{% endfor %}
	</div>
	<input type="hidden" name="mode" value="definitions" />
	<input type="button" value="Validate" onClick="validateTBN(this.form);" />
	<input type="submit" name="Create" value="Create SDF" />
</form>

</body>
</html>
