<head>
	<title>LWA Session Definition File</title>
	
	<link rel="stylesheet" href="schedule.css" type="text/css" />

	<script language="javascript">

	var numObs = {{ observations|length }};

	function validateSamples(fieldID, bitsID) {
		nSamples = fieldID.value;
		if(bitsID.value == 12) {
			maxSamples = 12000000;
		} else {
			maxSamples = 36000000;
		}
		if(nSamples > maxSamples) {
			fieldID.value = maxSamples;
		}
	}

	function addTBW() {
		numObs = numObs + 1;
		
		currSet = '';
		currSet += 'Observation ID: '+numObs.toString()+'<br />';
		currSet += 'Title: <input type="text" name="obsName'+numObs.toString()+'" /><br />';
		currSet += 'Target: <input type="text" name="obsTarget'+numObs.toString()+'" value="All-Sky" /><br />';
		currSet += 'Start (UTC YYYY MM DD HH:MM:SS.SSS): <input type="text" name="obsStart'+numObs.toString()+'" /><br />';
		currSet += 'Comments:<br /><textarea rows="5" cols="75" name="obsComments'+numObs.toString()+'"></textarea><br />';

		newEntry = document.createElement('div');
		newEntry.setAttribute('id', 'obs'+numObs.toString());
		newEntry.setAttribute('class', 'obs');
		newEntry.innerHTML = currSet;

		document.getElementById('observations').appendChild(newEntry)
	}

	function validateTBW(form) {
		bits = form.bits.value;
		samples = form.samples.value;
		if( bits == 12 ) {
			if( samples > 12000000) {
				form.samples.style.backgroundColor = '#ffc4de';
			} else {
				form.samples.style.backgroundColor = 'white';
			}
		} else {
			if( samples > 36000000) {
				form.samples.style.backgroundColor = '#ffc4de';
			} else {
				form.samples.style.backgroundColor = 'white';
			}
		}

		fields = form.elements;
		for(i=0; i<fields.length; i++) {
			if( fields[i].name.search('Comment') == -1 && fields[i].type == 'text') {
				if( fields[i].value.length == 0 ) {
					fields[i].style.backgroundColor = '#ffc4de';
				} else {
					fields[i].style.backgroundColor = 'white';
				}
			}
		}
	}

	</script>
</head>

<body {{ 'onload="addTBW();"' if observations|length == 0 }}>
<a id="logo" href="http://lwa.unm.edu/"><img src="/lwa/logo.png" alt="The Long Wavelength Array Software Page" /></a>
<h2>LWA Session Definition File</h2>

<form action="session-definition.py" method="POST">
	<h3>Project Information</h3>
	<p>
		Observer ID: {{ projectInfo['observerID'] }}<br />
		Proposal ID: {{ projectInfo['projectID'] }}<br />
	</p>

	<h3>Session Information</h3>
	<p>
		{% set dmeth = sessionInfo.dataReturnMethod|default("DRSU", boolean=True) -%}
		Session Title: <input type="text" name="sessionName" size="65" value="{{ sessionInfo.sessionName }}" /><br />
		Session ID: <input type="text" name="sessionID" value="{{ sessionInfo.sessionID|default("1", boolean=True) }}" /><br />
		Data Return: <input type="radio" name="dataReturnMethod" value="DRSU" {{ 'checked' if dmeth == 'DRSU' }} />DRSU <input type="radio" name="dataReturnMethod" value="USBHD" {{ 'checked' if dmeth == 'USBHD' }} />USB Harddrives (max. 4)<br />
		Comments:<br />
		<textarea rows="10" cols="75" name="sessionComments">{{ sessionInfo.sessionComments }}</textarea><br />
	</p>

	<h3>TBW Observations</h3>
	<h4>Global Settings</h4>
	<p>
		{%- set obs = observations|first|default(None, boolean=True) -%}
		{%- set bits = obs.bits|default(12, boolean=True) -%}
		{%- set samples = obs.samples|default(12000000, boolean=True) -%}
		Data Bits: <select name="bits">
			<option value="4" {{ 'selected="selected"' if bits == 4 }}>4-bit</option>
			<option value="12" {{ 'selected="selected"' if bits == 12 }}>12-bit</option>
		</select><br />
		Maximum Samples: <input type="text" name="samples" value="{{ samples }}" size="9"/><br />
	</p>

	<h4>Observations</h4>
	<a id="addTBWObservation" href="#" onClick="addTBW();">Add TBW Observation</a>
	<div id="observations">
	{% for obs in observations %}
		<div class="obs" id="obs{{ loop.index }}">
			Observation ID: {{ loop.index }}<br />
			Title: <input type="text" name="obsName{{ loop.index }}" value="{{ obs.name }}" /><br />
			Target: <input type="text" name="obsTarget{{ loop.index }}" value="{{ obs.target }}" /><br />
			Start (UTC YYYY MM DD HH:MM:SS.SSS): <input type="text" name="obsStart{{ loop.index }}" value="{{ obs.start }}" /><br />
			Comments:<br />
			<textarea rows="5" cols="75" name="obsComments{{ loop.index }}">{{ obs.comments }}</textarea><br />
		</div>
	{% endfor %}
	</div>
	<div style="float: left;">
	<input type="hidden" name="mode" value="definitions" />
	<input type="button" value="Validate" onClick="validateTBW(this.form);" />
	<input type="submit" name="Create" value="Create SDF" />
	</div>
</form>

</body>
</html>
