<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>LWA Session Definition File Validator</title>

	<link rel="stylesheet" href="schedule.css" type="text/css" />
</head>

<body>
<a id="logo" href="http://lwa.unm.edu/"><img src="/lwa/logo.png" alt="The Long Wavelength Array Software Page" /></a>
<h2>LWA Session Definition File Validator</h2>

<div class="round" style="float: left; border-style: solid; border-width: 1px; text-align: center;">
<form action="validator.py" method="POST" enctype="multipart/form-data">
	File: <input type="file" name="file" size="40"><br /><br />
	<input type="submit" value="Validate" />
</form>
</div>

</body>
</html>